<h1> <%= @url %> </h1>
<div class="results-container">
  <div class="page-size">
    <h4>Page Size</h4>
    <p><%= @page_size.round(2) %></p>
  </div>
  <div class="mobile">
    <div class="responsive">
      <h4> Responsive </h4>
      <p> <%= @is_responsive %> </p>
    </div>
  </div>
</div>